body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #080935;
}

.checkbox, #play-pause {
    display: none;
}

.navbar {
    background-color: #080935;
    color: #fff;
    width: 175px;
    height: 200vh;
    position: absolute;
    bottom: -645px;
}

header {
    background-color: #080935;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    padding: 10px 30px;
}

.header-content span:hover {
    background-color: #0017f7;
}

.search-box {
    margin-right: 100px;
    margin-left: 829px;
}

.input-search {
    height: 29px;
    width: 0px;
    border-style: none;
    padding-left: 29px;
    font-size: 1em;
    letter-spacing: 2px;
    outline: none;
    transition: all .5s ease-in-out;
    color: #ff0000;
    border-radius: 18px;
}

.input-search::placeholder {
    color: #000000;
    font-size: 1em;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 32px;
    height: 32px;
    border-style: none;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 29px;
    color: #000000;
    background-color: #dd0000;
}

.btn-search:focus ~ .input-search {
    width: 211px;
    background-color: #fff;
    margin-left: 10px;
    transition: all 500ms cubic-bezier(.58,0,.19,1);
    box-shadow: -36px 13px 28px -6px #000;
}

.input-search:focus {
    width: 0px;
    background-color: #f9f9f9;
    margin-left: 11px;
    transition: all 500ms cubic-bezier(.58,0,.19,1);
    box-shadow: -36px 13px 28px -6px #000;
}

.dropProfil {
    position: absolute;
    left: 1241px;
    bottom: 400px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #1e1e1e;
    z-index: 2;
}

.dropProfil ul {
    padding: 0;
}

.dropProfil li {
    list-style: none;
    padding: 10px;
}



.dropProfil li a {
    color: #fff;
    text-decoration: none;
}


#user:checked ~ .dropProfil {
    opacity: 1;
}

#user:not(:checked) ~ .dropProfil {
    opacity: 0;
}

header .profil {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-image: url(/avatar.jpg);
    background-size: 90px;
    background-position-x: -21px;
    background-position-y: -9px;
    cursor: pointer;
}


.logo {
    padding: 10px;
    text-align: center;
}

.logo img {
    max-width: 65px;
}

h1{
    display: flex;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Segoe UI', sans-serif;
}

.playlist-creation {
    padding: 20px;
    border-top: 1px solid #282828;
    text-align: center;
}

.btn-create-playlist {
    background-color: #ebf00b;
    color: white;
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    display: inline-block;
}

.btn-create-playlist:hover {
    background-color: #ebf00b;
}

.playlist-creation p {
    color: #b3b3b3;
}

.btn-signup {
    background-color: #ebf00b;
    color: white;
}

.btn-login {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.btn-signup:hover {
    background-color: #ebf00b;
}

.btn-login:hover {
    border-color: #ebf00b;
    color: #ebf00b;
}


h2 {
    background-color: #00000045;
    backdrop-filter: blur(4px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 32px;
}

.content {
    background-color: #00000011;
    color: white;
    overflow: hidden;
    backdrop-filter: blur(3px);
}

.playlists {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    justify-content: space-evenly;
}

.playlist-card {
    background-color: #0000005a;
    border-radius: 8px;
    width: 210px;
    height: 40vh;
    padding: 15px;
    text-align: center;
    position: relative;
    perspective: 800px;
    transition: transform 1s;
    transform-style: preserve-3d;
    border: 4px solid;
    border-image: linear-gradient(0deg, rgb(0 0 0), rgb(0 0 0), rgb(0 0 0), rgb(255 66 197)) 1;
    animation: anime 6s infinite linear;
}


.playlist-card:hover {
    background-color: #00000000;
    transition: .5s;
}

.img img {
    width: 238px;
    height: 223px;
    object-fit: cover;
}

.back img {
    width: 100%; 
    height: 35px; 
    display: block; 
   
}

.back .avatar img {
    width: 237px;
    left: 61px;
    height: 266px;
    position: absolute;
    bottom: -67px;
}


audio {
    background-color: #fff;
    position: relative;
    bottom: -116px;
    left: 30px;
    transform: scale(0.794);
}

.img {
    height: 27vh;
}

.front h3 {
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    margin: 32px 0px 0px 0px;
    padding: 0;
    background: none;
}

.front a {
    position: relative;
    bottom: -24px;
    text-decoration: none;
}

.front p {
    position: relative;
    bottom: -25px;
    font-size: 0.8em;
    color: #b3b3b3;
}

.front {
    transition: opacity .5s linear;
    left: 0px;
    bottom: 30px;
    opacity: 1;
}

.front, .back {
    position: absolute;
    backface-visibility: hidden;
}

.back {
    display: flex;
    transition: opacity .5s linear;
    transform: rotateY(180deg);
    bottom: 112px;
    left: 0px;
    opacity: 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.back p:nth-child(2) {
    position: relative;
    bottom: -105px;
}

.back p:nth-child(3) {
    position: relative;
    bottom: -105px;
}


.btn-play {
    position: absolute;
    top: -108px;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #111111b5;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.playlist-card:hover .btn-play {
    opacity: 1;
    box-shadow: 0px 0px 13px -4px #000;
    transition: .4s;
}

.btn-play img {
    width: 50%; 
    display: block;
}






/* ****** CARD FLIP ******* */


#flip1:checked ~ .playlist-card1 {
    transform:rotateY(-180deg);
    transition: 1.3s;
}
  
#flip1:checked ~ .playlist-card1 .back {
    opacity: 1;
    transform: rotateY( 180deg );
}

#flip1:not(:checked) ~ .playlist-card1 {
    transition: 1.3s;
}

/* FLIP 2 */

#flip2:checked ~ .playlist-card2 {
    transform:rotateY(-180deg);
    transition: 1.3s;
}

#flip2:not(:checked) ~ .playlist-card2 {
    transition: 1.3s;
}
  
#flip2:checked ~ .playlist-card2 .back {
    opacity: 1;
    transform: rotateY( 180deg );
}


/* FLIP 3 */

#flip3:checked ~ .playlist-card3 {
    transform:rotateY(-180deg);
    transition: 1.3s;
}

#flip3:not(:checked) ~ .playlist-card3 {
    transition: 1.3s;
}
  
#flip3:checked ~ .playlist-card3 .back {
    opacity: 1;
    transform: rotateY( 180deg );
}


/* FLIP 4 */

#flip4:checked ~ .playlist-card4 {
    transform:rotateY(-180deg);
    transition: 1.3s;
}

#flip4:not(:checked) ~ .playlist-card4 {
    transition: 1.3s;
}
  
#flip4:checked ~ .playlist-card4 .back {
    opacity: 1;
    transform: rotateY( 180deg );
}

/* FLIP 5 */

#flip5:checked ~ .playlist-card5 {
    transform:rotateY(-180deg);
    transition: 1.3s;
}

#flip5:not(:checked) ~ .playlist-card5 {
    transition: 1.3s;
}
  
#flip5:checked ~ .playlist-card5 .back {
    opacity: 1;
    transform: rotateY( 180deg );
}

/* FLIP 6 */

#flip6:checked ~ .playlist-card6 {
    transform:rotateY(-180deg);
    transition: 1.3s;
}

#flip6:not(:checked) ~ .playlist-card6 {
    transition: 1.3s;
}
  
#flip6:checked ~ .playlist-card6 .back {
    opacity: 1;
    transform: rotateY( 180deg );
}

/* FLIP 7 */

#flip7:checked ~ .playlist-card7 {
    transform:rotateY(-180deg);
    transition: 1.3s;
}

#flip7:not(:checked) ~ .playlist-card7 {
    transition: 1.3s;
}
  
#flip7:checked ~ .playlist-card7 .back {
    opacity: 1;
    transform: rotateY( 180deg );
}

/* FLIP 8 */

#flip8:checked ~ .playlist-card8 {
    transform:rotateY(-180deg);
    transition: 1.3s;
}

#flip8:not(:checked) ~ .playlist-card8 {
    transition: 1.3s;
}
  
#flip8:checked ~ .playlist-card8 .back {
    opacity: 1;
    transform: rotateY( 180deg );
}


/* FLIP 9 */

#flip9:checked ~ .playlist-card9 {
    transform:rotateY(-180deg);
    transition: 1.3s;
}

#flip9:not(:checked) ~ .playlist-card9 {
    transition: 1.3s;
}
  
#flip9:checked ~ .playlist-card9 .back {
    opacity: 1;
    transform: rotateY( 180deg );
}

/* FLIP 10 */

#flip10:checked ~ .playlist-card10 {
    transform:rotateY(-180deg);
    transition: 1.3s;
}

#flip10:not(:checked) ~ .playlist-card10 {
    transition: 1.3s;
}
  
#flip10:checked ~ .playlist-card10 .back {
    opacity: 1;
    transform: rotateY( 180deg );
}

/* FLIP 11 */

#flip11:checked ~ .playlist-card11 {
    transform:rotateY(-180deg);
    transition: 1.3s;
}

#flip11:not(:checked) ~ .playlist-card11 {
    transition: 1.3s;
}
  
#flip11:checked ~ .playlist-card11 .back {
    opacity: 1;
    transform: rotateY( 180deg );
}

/* FLIP 12 */

#flip12:checked ~ .playlist-card12 {
    transform:rotateY(-180deg);
    transition: 1.3s;
}

#flip12:not(:checked) ~ .playlist-card12 {
    transition: 1.3s;
}
  
#flip12:checked ~ .playlist-card12 .back {
    opacity: 1;
    transform: rotateY( 180deg );
}

/* FLIP 13 */

#flip13:checked ~ .playlist-card13 {
    transform:rotateY(-180deg);
    transition: 1.3s;
}

#flip13:not(:checked) ~ .playlist-card13 {
    transition: 1.3s;
}
  
#flip13:checked ~ .playlist-card13 .back {
    opacity: 1;
    transform: rotateY( 180deg );
}

/* FLIP 14 */

#flip14:checked ~ .playlist-card14 {
    transform:rotateY(-180deg);
    transition: 1.3s;
}

#flip14:not(:checked) ~ .playlist-card14 {
    transition: 1.3s;
}
  
#flip14:checked ~ .playlist-card14 .back {
    opacity: 1;
    transform: rotateY( 180deg );
}

/* FLIP 15 */

#flip15:checked ~ .playlist-card15 {
    transform:rotateY(-180deg);
    transition: 1.3s;
}

#flip15:not(:checked) ~ .playlist-card15 {
    transition: 1.3s;
}
  
#flip15:checked ~ .playlist-card15 .back {
    opacity: 1;
    transform: rotateY( 180deg );
}


@keyframes anime {
    0% {border-image: linear-gradient(0deg, rgb(0 0 0), rgba(235, 240, 11, 0.99)) 1;}
    25% {border-image: linear-gradient(50deg, rgb(0 0 0), rgba(235, 240, 11, 0.99)) 1;}
    50% {border-image: linear-gradient(150deg, rgb(0 0 0), rgba(251, 255, 1, 0.99)) 1;}
    75% {border-image: linear-gradient(250deg, rgb(0 0 0),rgba(235, 240, 11, 0.99)) 1;}
    100% {border-image: linear-gradient(360deg, rgb(0 0 0), rgba(235, 240, 11, 0.99)) 1;}
}


/* **** BTN AJOUT ********* */

i.fa-solid.fa-circle-plus {
    position: absolute;
    right: 197px;
    bottom: -14px;
    font-size: 1.6em;
}

i.fa-solid.fa-circle-plus:hover {
 color: #ecf00b;
}


/* ******** FAVORIE ********** */


.favorie {
    position: absolute;
    left: 197px;
    bottom: -14px;
    font-size: 1.5em;
    background-clip: text;
}


/* COEUR 1 */

#heart1:checked ~ .favorie {
    color: #e40606;
    transition: .8s;
}

#heart1:not(:checked) ~ .favorie {
    color: #ffffff;
    transition: .8s;
}

/* COEUR 2 */

#heart2:checked ~ .favorie {
    color: #e40606;
    transition: .8s;
}

#heart2:not(:checked) ~ .favorie {
    color: #ffffff;
    transition: .8s;
}

/* COEUR 3 */

#heart3:checked ~ .favorie {
    color: #e40606;
    transition: .8s;
}

#heart3:not(:checked) ~ .favorie {
    color: #ffffff;
    transition: .8s;
}

/* COEUR 4 */

#heart4:checked ~ .favorie {
    color: #e40606;
    transition: .8s;
}

#heart4:not(:checked) ~ .favorie {
    color: #ffffff;
    transition: .8s;
}

/* COEUR 5 */

#heart5:checked ~ .favorie {
    color: #e40606;
    transition: .8s;
}

#heart5:not(:checked) ~ .favorie {
    color: #ffffff;
    transition: .8s;
}

/* COEUR 6 */

#heart6:checked ~ .favorie {
    color: #e40606;
    transition: .8s;
}

#heart6:not(:checked) ~ .favorie {
    color: #ffffff;
    transition: .8s;
}

/* COEUR 7 */

#heart7:checked ~ .favorie {
    color: #e40606;
    transition: .8s;
}

#heart7:not(:checked) ~ .favorie {
    color: #ffffff;
    transition: .8s;
}

/* COEUR 8 */

#heart8:checked ~ .favorie {
    color: #e40606;
    transition: .8s;
}

#heart8:not(:checked) ~ .favorie {
    color: #ffffff;
    transition: .8s;
}

/* COEUR 9 */

#heart9:checked ~ .favorie {
    color: #e40606;
    transition: .8s;
}

#heart9:not(:checked) ~ .favorie {
    color: #ffffff;
    transition: .8s;
}

/* COEUR 10 */

#heart10:checked ~ .favorie {
    color: #e40606;
    transition: .8s;
}

#heart10:not(:checked) ~ .favorie {
    color: #ffffff;
    transition: .8s;
}

/* COEUR 11 */

#heart11:checked ~ .favorie {
    color: #e40606;
    transition: .8s;
}

#heart11:not(:checked) ~ .favorie {
    color: #ffffff;
    transition: .8s;
}

/* COEUR 12 */

#heart12:checked ~ .favorie {
    color: #e40606;
    transition: .8s;
}

#heart12:not(:checked) ~ .favorie {
    color: #ffffff;
    transition: .8s;
}

/* COEUR 13 */

#heart13:checked ~ .favorie {
    color: #e40606;
    transition: .8s;
}

#heart13:not(:checked) ~ .favorie {
    color: #ffffff;
    transition: .8s;
}

/* COEUR 14 */

#heart14:checked ~ .favorie {
    color: #e40606;
    transition: .8s;
}

#heart14:not(:checked) ~ .favorie {
    color: #ffffff;
    transition: .8s;
}

/* COEUR 15 */

#heart15:checked ~ .favorie {
    color: #e40606;
    transition: .8s;
}

#heart15:not(:checked) ~ .favorie {
    color: #ffffff;
    transition: .8s;
}

@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);


.music-player {
    --primary-color: #ddd;
    --secondary-color: #999;
    background-color: #111;
    display: flex;
    padding: var(--padding);
    color: var(--primary-color);
    justify-content: space-between;
    align-items: center;
}

i{
    color: var(--secondary-color);
}
i:hover{
    color: var(--primary-color);
}

.song-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 25%;
}

.song-infos {
    display: flex;
    align-items: center;
    gap: 1em;
}

.image-container {
    width: 25%;
    height: 8vh;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.song-description p {
    margin: 0.2em;
}

.title,
.artist {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.title:hover,
.artist:hover {
    text-decoration: underline;
}

.artist{
    color: var(--secondary-color);
}

.icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 11px 68px 0 68px;
}

.icons i {
    color: #fff; /* Icon color */
    margin-right: 10px; /* Space between icons */
    cursor: pointer; /* Change cursor to pointer to indicate clickable items */
    font-size: 18px; /* Icon size */
}

/* You might want to add hover effects for the icons */
.icons i:hover {
    color: #1db954; /* Change color on hover */
}


#middleFooter {
    width: 57%;
    padding: 11px 0;
}

.progress-controller{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    color: var(--secondary-color);
}
.control-buttons{
    display: flex;
    align-items: center;
    gap: 2em;
}

.play-pause {
    display: inline-block;
    padding: 9px 10px;
    background-color: var(--primary-color);
    color: #111;
    border-radius: 50%;
}

.play-pause:hover{
    transform: scale(1.1);
    color: #111;
}

.progress-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}


.progress-bar{
    height: 4px;
    border-radius: 10px;
    width: 30%;
    background-color: #ccc4;
}

.progress{
    position: relative;
    height: 100%;
    width: 30%;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

.progress-bar:hover .progress{
    background-color: var(--green-color);
}

.progress-bar:hover .progress::after{
    content: "";
    position: absolute;
    --size: 1em;
    width: var(--size);
    height: var(--size);
    right: 0;
    border-radius: 50%;
    background-color: var(--primary-color);
    transform: translate(50%, calc(2px - 50%));
}

.other-features {
    display: flex;
    flex-direction: row;
    gap: 4em;
    justify-content: center;
    align-items: center;
    width: 23%;
}

.volume-bar{
    display: flex;
    align-items: center;
    gap: .7em;
}
.volume-bar .progress-bar{
    width: 6em;
}
.volume-bar .progress-bar:hover .progress::after{
    --size: .8em;
}



